# --- AMBIENTE E CACHE ---
stage_env/
__pycache__/
utils/__pycache__/
constraints/__pycache__/
constraints/__pycache__/
*.pyc

# --- FILE TEMPORANEI E DI TEST ---
sas_plan
output.sas
test_val.py
todo
toask

# --- OUTPUT DEI BENCHMARK ---
plans/